<!DOCTYPE>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/bootstrap/bootstrap-3.3.2-dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/font-awesome-4.3.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <br><br>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation">
                <a href="/" role="tab">Git Contacts</a>
              </li>
              <li role="presentation" class="active">
                <a href="#home" aria-controls="home" role="tab" data-toggle="tab">overview</a>
              </li>
              <li role="presentation">
                <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">getting start</a>
              </li>
              <li role="presentation">
                <a href="#deeper" aria-controls="deeper" role="tab" data-toggle="tab">dig deeper</a>
              </li>
              <li role="presentation">
                <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">about</a>
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active" id="home">
                <p>这是一个基于Git官方库libgit2开发的通讯录应用</p>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="profile">
                <p>从注册开始</p>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="deeper">
                <p>它是如何工作的</p>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="settings">
                <p>开发者: 来自HIT的超级英雄</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <script src='/js/jquery-1.11.2.min.js'></script>
    <script src='/bootstrap/bootstrap-3.3.2-dist/js/bootstrap.js'></script>
    <script src='/react-0.12.2/build/react.js'></script>
    <script src='/react-0.12.2/build/react-with-addons.js'></script>
    <script src="/react-0.12.2/build/JSXTransformer.js"></script>
    <!--<script type="text/jsx;harmony=true" src='/reactjs/app.js'></script>-->
  </body>
</html>